# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env
.env.*

# Data
data/raw/
data/processed/

# ML artifacts
*.pkl
*.joblib
*.pt
*.pth

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db